/* all */
/* #login_wrap main */
#login_wrap main {
    max-width: 460px; margin: 0 auto;
}
#login_wrap main #loginFrm {
    /* border: 1px solid #ccc; border-radius: 5px; */
}
#login_wrap main #loginFrm fieldset {}
/* 탭 제목 */
#login_wrap main #loginFrm fieldset .login_title {
    display: flex; 
}
#login_wrap main #loginFrm fieldset .login_title h2 {
    width: calc(100% / 3); text-align: center; background: #f8f9fa;
    border: 1px solid #ccc; border-radius: 0;
    height: 60px; display: flex; justify-content: center; align-items: center;
    border-bottom-left-radius:0 ; border-bottom-right-radius: 0;
    position: relative;
}
#login_wrap main #loginFrm fieldset .login_title h2 a {
    width: 100%; line-height: 60px; 
}
#login_wrap main #loginFrm fieldset .login_title h2:last-child {
    border-top-right-radius: 5px;
}
/*  탭 제목 아이콘 공통 */
#login_wrap main #loginFrm fieldset .login_title h2 a > span:first-child::before,
#login_wrap main #loginFrm fieldset .login_title h2 a > em:first-child::before {
    background: url(../images/m_sp_login.png); width: 16px; height: 16px;
    background-size: 251px 210px; content: ''; display: inline-block;
    background-position-X: -231px ; margin-right: 5px;
    position: relative; top: 2px;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(1) a > span::before {
    background-position-Y: -194px ;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(2) a > span::before {
    background-position-Y: -62px ;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > em:first-child::before {
    background-position-Y: -119px;
}
/* 택 제목 QR코드 */
#login_wrap main #loginFrm fieldset .login_title h2 a > em {}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup {
    background: #fff; border: 2px solid #03c75a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px; padding: 4px 10px;
    position: absolute; left: 50%; transform: translate(-50%, -21px);
    width: max-content; z-index: 999;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup em {
    color:  #03c75a; font-size: 0.625rem;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup .close {
    color:  #03c75a; font-size: 0.625rem;
}
/* 탭 내용 */
#login_wrap main #loginFrm fieldset .login_container {
    background-color: #fff;
    position: relative; top: -10.5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px; padding: 25px 27px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* 탭 내용 - id, 일회용, qr 공통 클래스 */
#login_wrap main #loginFrm fieldset .login_container .login_c {}
/* ID로그인 */
/* ID로그인---아이디, 비밀번호 입력 */
#login_wrap main #loginFrm fieldset .login_container .id_login {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; flex-flow: column nowrap; background-color: #fff;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:first-child {
    border-bottom:  1px solid #ccc;
}

#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span::before {
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    content: ''; display: inline-block;
    background-position-y: -190px ;
    width: 15px; height: 16px;
    position: relative;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1)::before {
    background-position-x: -88px;
    left: 11px; top: 3px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(2)::before {
    background-position-x: -121px;
    left: 11px; top: 2px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span input {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span input {
    padding: 13px 16px; padding-right: 0; border: 0; width: 80%;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input input::placeholder {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userId {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userPw {}
/* ID로그인---로그인 상태유지 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state {    
    display: flex; justify-content: space-between; align-items: center;
    padding: 5px 0;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label {background-color: pink;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state]::before {
    
    /* 비 활성화 */
    background:url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -230px -81px;
    content: ''; display: inline-block;
    width: 18px; height: 17px;
    position: relative; top: 2px;
    margin-right: 5px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label::before {
    background-position:-230px -156px;
}
/* ID로그인---IP보안 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .txt {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg {
    background: #aaa; display: inline-block; width: 37px; height: 20px; border-radius: 25px;
    padding: 2px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state label[for*=state] .switch_bg .switch {
    background: #fff; display: inline-block; width: 16px; height: 16px; border-radius: 50%;
    transition: transform 0.2s;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label .switch {
    transform: translateX(17px); 
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .ip_state input[name*=state]:checked + label .switch_bg{background-color: #03c75a;}

/* ID로그인---error message */
#login_wrap main #loginFrm fieldset .login_container .id_login .error_message {
    font-size: 0.91rem; color: #f00; padding: 10px 0;
}
/* ID로그인---로그인 버튼 */
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap {}
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap #loginBtn {
    width: 100%; background: #03c75a; color: #fff; border-radius:5px; padding: 16px 0; margin-top: 20px;
}
/* 일회용번호 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login {
    text-align: center;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title {
    display: flex; flex-flow: column nowrap; align-items: center;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt {
    margin-top: 15px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt p {
    text-align: center; line-height: 1.2;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt p span {
    color: #03c75a;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt p span em {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt p:nth-child(1) span em {
    margin-right: 3px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt p:nth-child(1) span em::after {
    content: ''; display: inline-block;
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -82px -162px;
    width: 14px; height: 15px;
    position: relative; top: 3px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt p:nth-child(2) span em::before {
    background: url(../images/dot.svg) no-repeat;
    width: 14px; height: 15px; position: relative; left: 5px; top: 1px;
    content: ''; display: inline-block;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title .title_txt p span em {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .title a {
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -186px -48px;
    content: ''; display: inline-block;
    width: 11px; height: 11px;
    margin: 10px 0 30px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .num_input {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; flex-flow: column nowrap; background-color: #fff;
    padding: 16px 0; text-align: center;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .error {
    color: #f00; font-size: 0.91rem; padding: 10px 0 5px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .num_input #disposable_num {
    text-align: center;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .login_btn_wrap {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .login_btn_wrap #disposableLoginBtn {
    width: 100%; background: #03c75a; color: #fff; border-radius:5px; padding: 16px 0; margin-top: 3px;
}
/* QR코드 */
#login_wrap main #loginFrm fieldset .login_container .qr_login {}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qrCord {
    display: flex; justify-content: center; align-items: flex-end;
    position: relative; left: 30px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qrCord .left {} 
#login_wrap main #loginFrm fieldset .login_container .qr_login .qrCord .left img {
    width: 120px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qrCord .right {
    display: flex; flex-flow: column nowrap; position: relative; top: -11px;
} 
#login_wrap main #loginFrm fieldset .login_container .qr_login .qrCord .right span {
    font-size: 0.91rem;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login .qrCord .right em {
    color: #03c75a; font-weight: 700;
}
#login_wrap main #loginFrm fieldset .login_container .description {
    text-align: center;
}
#login_wrap main #loginFrm fieldset .login_container .description p {
    margin-top: 10px;
}
#login_wrap main #loginFrm fieldset .login_container .description p:nth-child(2) {
    font-size: 0.91rem; margin-top: 5px; 
}
#login_wrap main #loginFrm fieldset .login_container .description p:nth-child(2) span:nth-child(1) {
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -186px -60px;
    width: 12px; height: 11px;
    content: ''; display: inline-block;
}
#login_wrap main #loginFrm fieldset .login_container .description p:nth-child(2) span:nth-child(2) {
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position: -186px -72px;
    width: 12px; height: 11px;
    content: ''; display: inline-block;
    position: relative; left: 1px;
}
#login_wrap main #loginFrm fieldset .login_container .description p span {}
#login_wrap main #loginFrm fieldset .login_container .description p em {
    background-color: black; color: #fff; border-radius: 30px; padding: 0 10px;
    font-size: 0.91rem;
}
#login_wrap main #loginFrm fieldset .login_container .description p a {
    background: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    content: ''; display: inline-block;
    background-position:-186px -48px;
    width: 11px; height: 11px;
}
/* 찾기 ~ 광고 */
#login_wrap main .search {}
#login_wrap main .search a {}
#login_wrap main .advertising {}
#login_wrap main .advertising a {}
#login_wrap main .advertising a img {width: 100%;}